<% if crew.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <div class="card-body">
      <h5><%= pluralize(crew.errors.count, "error") %> 
      prohibited this crew from being saved:</h5>

      <ul>
        <% crew.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>


<%= form_with(model: crew) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name , class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" , class: 'btn btn-primary' %>
  </div>
<% end %>
