<div class="col-lg-12 mb-4">

  <%= render 'layouts/notice' %>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold text-primary">Crews</h3>
    </div>
    
    <div class="card-body">   
      <div class="container">
        <div class="row">
          <small class="form-text text-muted">
            Click "Show" to see all details about Droids, Rebels and Passengers for this Crew
          </small>
        </div>
      </div>
      </br>
      <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <th>Name    </th>
              <th>Ship    </th>
              <th>Droids  </th>
              <th>Actions </th>
            </tr>
          </thead>

          <tbody>
            <% @crews.each do |crew| %>
              <tr>
                <td><%= crew.name %></td>
                <td>
                  <%= crew.ship.name %>
                </td>
                
                <td>
                  <%= crew.droids.pluck(:name).join(', ') %>
                </td>


                <td>
                    <%= link_to 'Show', crew %> <span>  |  </span>
                    <%= link_to 'Edit', edit_crew_path(crew) %> <span>  |  </span>
                    <%= link_to 'Destroy', crew, method: :delete, data: { confirm: 'Are you sure?' } %> 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    
      <br>
      

      <%= link_to 'New Crew', new_crew_path %>
    </div>
    

  </div>
</div>
