<div class="col-lg-12 mb-4">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold text-primary">Edit <%= resource_name.to_s.humanize %></h3>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>


        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
              class: 'form-control form-control-user' %>
        </div>
        
        </br>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>

          <div class="alert alert-primary" role="alert">
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>

        <% end %>
        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          </br>
          <%= f.password_field :password, autocomplete: "new-password" ,
          class: 'form-control form-control-user'  %>

          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        
        </br>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: 'form-control form-control-user' %>
        </div>

        </br>
        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password",
          class: 'form-control form-control-user' %>
        </div>
        
        </br>

        <div class="actions">
          <%= f.submit "Update" , class: 'btn btn-primary' %>
        </div>
        </br>

      <% end %>

      <div class="card mb-4 py-3 border-left-danger">
        <div class="card-body">
          <div class="row">

            <h3 class="h4 text-gray-900 mb-4" >Cancel my account</h3>
            <div class="col-1">            
              <h5>Unhappy? </h5>
            </div>

            <div class="col">            
              <%= button_to "Cancel my account", 
                            registration_path(resource_name), 
                            data: { confirm: "Are you sure?" }, 
                            method: :delete ,
                            class: "btn btn-danger" %>
            </div>
            
            </br>
          </div>
          <%= link_to "Back", :back %>
                                    
        </div>
      </div>  
      
    </div>
  </div>
</div>
