<div class="col-lg-12 mb-4">

  <%= render 'layouts/notice' %>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold text-primary">Users in Star Wars MIS</h3>
    </div>

    <div class="card-body">   
      <div class="table-responsive">
        <table class="table align-middle">

          <thead>
            <tr>
              <th>Name</th>
              <th>E-mail</th>
              <th>Phone </th>
              <th>Actions </th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
                <td>
                    <%= link_to 'Show', user %> 
                    <% if current_user.admin? %>
                      <span>  |  </span>
                      <%= link_to 'Edit', edit_user_path(user) %> 
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>

      <div class="row">
        <div class="col-md-12 text-right">
          <%= link_to 'Add User', new_user_path, class: 'btn btn-primary' if current_user.admin? %>
        </div>
      </div>

    </div>
  </div>
</div>
