<%= form_with(model: droid) do |form| %>
  <% if droid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(droid.errors.count, "error") %> prohibited this droid from being saved:</h2>

      <ul>
        <% droid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :features %>
    <%= form.text_area :features %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
