<%= render 'layouts/notice' %>

<div class="col-lg-12 mb-4">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold text-primary">Ship</h3>
    </div>

    <div class="card-body">   

      <p>
        <strong>Name:</strong>
        <%= @ship.name %>
      </p>

      <p>
        <strong>Features:</strong>
        <%= @ship.features %>
      </p>

      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_ship_path(@ship) %> |
      <% end %>
      <%= link_to 'Back', ships_path %>

    </div>
  </div>
</div>

