<% if location.errors.any? %>
  <div class="card mb-4 py-3 border-left-danger">
    <div class="card-body">
      <h5><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h5>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>


<%= form_with(model: location) do |form| %>

  <div class="field">
    <%= form.label :system %>
    <%= form.text_field :system , class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :coord %>
    <%= form.text_field :coord , class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
