<p id="notice"><%= notice %></p>

<p>
  <strong>System:</strong>
  <%= @location.system %>
</p>

<p>
  <strong>Coord:</strong>
  <%= @location.coord %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
