<% if !notice.blank? %>
  <div class="card mb-4 py-3 border-left-primary">
      <div class="card-body">
        <%= notice %> 
      </div>
  </div>
<% end %>

<div class="col-lg-12 mb-4">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold text-primary">Location</h3>
    </div>

    <div class="card-body">   
      <p>
        <strong>System:</strong>
        <%= @location.system %>
      </p>

      <p>
        <strong>Coord:</strong>
        <%= @location.coord %>
      </p>

      <%= link_to 'Edit', edit_location_path(@location) %> |
      <%= link_to 'Back', locations_path %>

    </div>
  </div>
</div>

