<%= render 'layouts/notice' %>

<div class="col-lg-12 mb-4">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold text-primary">Location</h3>
    </div>

    <div class="card-body">   
      <p>
        <strong>System:</strong>
        <%= @location.system %>
      </p>

      <p>
        <strong>Coord:</strong>
        <%= @location.coord %>
      </p>

      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_location_path(@location) %> |
      <% end %>
      
      <%= link_to 'Back', locations_path %>

    </div>
  </div>
</div>

